* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.logo > img {
  width: 50px;
}

/* Media Query for Mobile Devices */ 
@media (max-width: 767px) {  
  header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  } 
  .hamburger{
    display: flex;
    justify-content: flex-end;
    background-color: gray;
    color: blanchedalmond;
  }
  .menu{
    display: none;
  }  
  .product{
    border-width: 1px;
    border-style: solid;
    flex-flow: column nowrap;
    text-align: center;

  }
  .social{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  } 
}

/* Media Query for Tablets Ipads portrait mode */ 
@media (min-width: 768px) and (max-width: 1024px){  
    header{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
    }
    .hamburger{
      display: flex;
      justify-content: flex-end;
      background-color: gray;
      color: blanchedalmond;
    }
    .menu{
      display: none;
    }  
    .product{
      border-width: 1px;
      border-style: solid;
      border-color: gray;
      flex-flow: column nowrap;
      text-align: center;
    }
    p{
      text-align: start;
    }
    .social{
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    } 
} 
  
/* Media Query for Laptops and Desktops */ 
@media (min-width: 1025px){ 
    header{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
    }
    .hamburger{
      display: none;
    }
    .menu{
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      flex-direction: row;
      background-color: gray;
      justify-content: flex-end;
      align-items: flex-end;
      align-content: space-around;
      color: honeydew;
      gap: 50px;
      
    }  
    main{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      text-align: center;
    }
    .product{
      display: flex;
      border-width: thin;
      border-style: ridge;
      flex-wrap: wrap;
      flex-direction: column;
      
    
    } 
    .social{
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
}